{% extends 'index.html' %}
{% block titulo %}
<title>Empezar Conversacion</title>
{% endblock %}

{% block inicio %}


    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg">
                <div class="card border-0">
                    <div class="card-header bg-primary text-center p-4">
                        <h2 class="text-white m-0">Empezar Conversacion</h2>
                    </div>
                    <div class="card-body rounded-bottom bg-white ">
                            <div class="row slideanim-'inline' " style="width: 1024px; margin-left: 30%">
                                
                                {% for reseptor in reseptor %}
                                    <center>
                                        <a href="{% url 'MsgTravelMensaje' reseptor.username %}">
                                            
                                            <img class="img-fluid mx-auto" src="{{ reseptor.avatar.imagen.url }}" style="width: 80px; height: 80px;" >
                                            <h5 >{{reseptor.username}} |   </h5> 
                                                    

                                            <br>
                                        </a>
                                    </center>
                                        
                                    
                                {% endfor %}

                                
                            </div>
                    </div>
                    <div class="card border-0">    
                        <div class="card-header bg-primary text-center p-2">
                            <h2 class="text-white m-0">Mis Conversaciones</h2>
                        </div>
                        
                        
                            {% for chats in chats %}
                                {{chats.reseptor}}
                                {{chats.mensaje}}
                            


                            {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
