{% extends 'index.html' %}
{% block titulo %}
<title>{{titulo}}</title>
{% endblock %}

{% block inicio %}


 <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5">

 
                        
                    {{testimonios.id}}
                    <br>
                    {{testimonios.user}}
                    <br>
                    {{testimonios.texto | safe}}
                    <br>
                    {{testimonios.fecha_publicacion}}




                </div>
            </div>
</div>
{% endblock %}
