{% extends 'index.html' %}
{% block titulo %}
<title>Mis - Comentarios</title>
{% endblock %}

{% block inicio %}


 <div class="container py-5">
            <div class="row align-items-center">
                    <div class="col-lg" >
                        <div class="card-header bg-primary text-center p-4 ">
                            <h1 class="text-white m-0">Mis Comentarios</h1>
                        </div>
                       
                        {% for comentario in comentario %}

                            {{comentario.comentario | safe}}
                            <p>{{comentario.fecha_comentario}}</p>
                            <a href="{% url 'UserTravelEditarComentarios' comentario.id %}" class="btn btn-info py-md-3 px-md-5 mt-2">Editar</a>
                            <a href="{% url 'UserTravelEliminarComentarios' comentario.id %}" class="btn btn-danger py-md-3 px-md-5 mt-2" >Eliminar</a>
                            <h1 class="card-header bg-primary text-center p-4 "></h1>
                            <hr>
                        {% endfor %}
                    </div>
            </div>
</div>
{% endblock %}