{% extends 'index.html' %}
{% block titulo %}
<title>About</title>
{% endblock %}

{% block inicio %}


    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg">
                <div class="card border-0">
                    <div class="card-header bg-danger text-center p-4">
                        <h2 class="text-white m-0">About</h2>
                    </div>
                    <Pre>
                    Unico Creador: Franco Pelayo<br>
                        Me puse la camiseta y la cree solo.
                    <br>

                    Esta web empezó siendo un TRAVELER, con sus reservas de Vuelos y Hoteles,
                    con los requerimientos del proyecto tuvo que mutar y hasta tenemos un sistema de mensajería. 
                    Ahora ademas de hacer reservas podés agregar un testimonio de tu experiencia en los viajes
                    realizados, como opiniones y comentarios de la pagina. Para que los testimionios sean mejores 
                    tiene la opcion de comentar para que se cree un lindo ambiente.
                    <br>
                    De todos modos la web de TRAVELER se acomodó bien con los requeriemientos, ya que no es raro que 
                    en estas webs haya un sistema de menajeria y testimonios.
                    <br>
                    ESPERO QUE LA DISFRUTEN
                    



                    
                        
                    
                        
                  
                    

                </div>
            </div>
        </div>
    </div>
{% endblock %}